<ion-header>
  <ion-toolbar>
    <ion-title>Classes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Classes List
    </ion-list-header>

    <ion-item
      *ngFor="let _class of Classes"
      class="item-label item ios in-list ion-focusable hydrated"
    >
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>{{_class.name}}</h2>
        <h3>{{_class.status}}</h3>
      </ion-label>

      <div class="item-note" item-end>
        <ion-button clear [routerLink]="['/edit-class/', _class._id]">
          Edit
        </ion-button>
        <ion-button clear (click)="deleteClass(_class)">
          Delete
        </ion-button>

        <ion-button expand="full" (click)="viewStudents(_class)"
          >View Students</ion-button
        >
      </div>
    </ion-item>
  </ion-list>

  <!-- fab placed to the bottom start -->
  <ion-button expand="full" (click)="viewAllStudents()"
    >View All Students</ion-button
  >
</ion-content>
